* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.main {
  width: 80%;
}

.main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.main .content img {
  max-width: 100%;
}

.main .content li {
  margin-bottom: 10px;
}

.main .content p {
  max-width: 800px;
}

.side {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.side .ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px black solid;
  margin-bottom: 10px;
}
